$danger: #ef476f;
$danger-10:#B12704;
$warning:  #ffd166;
$success: #007185;
$success-90: rgba(216, 255, 200, 0.466);
$primary: #131921;
$secondary-90: #F3F3F3;
$secondary-80: #ececec;
$secondary-70: #e8e8e8;
$secondary-50: #d4d4d4;
$white: #ffffff;
$black: #000;
