%btn{
    color: #fff;
    padding: .7rem;
    border: 0;
    font-weight: bold;
    display:block;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-primary{
    @extend %btn;
    background-color: $primary;

    &:hover{
        background-color: rgba($primary, .9);
        color:$warning;
    }
}

.btn-danger{
    @extend %btn;
    background-color: $danger;
}