.checklist{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    background-color: $secondary-90;
    margin-top: 10px;
    border-radius: 8px;
    min-height: 300px;

    &__main{
        width: 70%;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 8px;

        & .checklist__news{
            background-color: $white;
            border-radius: 8px;
            margin-bottom: 10px;
            text-align: left;
            padding: 1rem 2rem;
            display:flex;
            flex-direction: column;
            justify-content: center;
    
            h2{
                text-align: left;
                font-size: 2rem;
                text-transform: capitalize;
            }
    
            span{
                text-align: left;
                padding: .5rem;
                background-color: $success-90;
                margin:2rem 0;
                width: fit-content;
            }
        }

        
        & .checklist__list{
            padding: 0 2rem;
            background-color: $white;
            margin-top: 10px;
            border-radius: 8px;
            min-height: 300px;

            & .checklist__header{
                display: flex;
                justify-content: flex-start;
                padding: 1rem 0;
                border-bottom: 1px solid $secondary-90;
        
                span:nth-child(2){
                    margin: 0 1rem;
                }
            }

            & .checklist__content{
                display:flex;
                justify-content: center;
                align-items: center;
        
                & .checklist__select{
                    margin-right: 1rem;
                }
              
                & .checklist__item{
                    padding: 1rem 0;
                    display: flex;
                    
                    &-content{
                        padding: 1rem;
                    }
                    img{
                        width: 200px;
                    }
                    h4{
                        color:$danger-10;
                    }
                }

                & .checklist__options{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    div{
                        display:flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100px;
                        margin: .5rem 0;
                    }
                    button{
                        width: 25px;
                        height: 25px;
                        outline: none;
                        border-radius: 50%;
                        font-size: 1rem;
                        font-weight: 700;
                        background-color: $primary;
                        cursor:pointer;
                        color:$secondary-90;
                        transition: .5s ease;
                        transition-property: color;
                    }
                    button:hover {
                        color: $warning;
                    }
                    p{
                        border: 1px solid $secondary-50;
                        padding: .3rem;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    &__right{
        margin-top: 20px;
        margin-left: 10px;
        width: 25%;
        background-color: $white;
        border-radius: 8px;
        padding: 1rem 2rem;
        justify-content: flex;
        flex-direction: column;

        h2{
            margin-bottom: 1rem;
        }

        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        button{
            outline: none;
            width: 100%;
            padding: .8rem 0;
            margin: 1rem 0;
            text-transform: uppercase;
            cursor:pointer;
            background-color: $primary;
            color: $white;
            font-weight: 700;
            transition: .5s ease;
            transition-property: color;
        }

        button:hover{
            color: $warning;
        }

        &-total{
            padding: 1rem;
            border-top: 1px solid $secondary-90;
            font-weight: 700;

            p:nth-child(1){
                font-size: 1.5rem;
            }
        }
    }
}
