.header{
    display: flex;
    flex-direction: column;
    color: $white;
    width: 100%;

    &__menu-top{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        padding: .5rem 1rem .5rem 1rem;

        img{
            width: 110px;
            height: 40px;
        }
    }

    &__send{
        padding: 0 .7rem;
        line-height: 1.1;
        width: 100px;
        font-size: .9rem;
    }

    &__searcher{
        flex:1;
        background-color: brown;
        border-radius: 5px;
        display:flex;

        a{
            background-color: $secondary-90;
            border-radius: 5px 0 0 5px;
            padding: 0 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $primary;
        }

        input{
            flex:1;
            outline: none;
            font-size: 1rem;
            text-align: left;
            padding-left: 1rem;
        }

        span{
            background-color: $warning;
            padding: 0 1rem;
            font-size: 1.2rem;
            display:flex;
            align-items: center;
            border-radius: 0 5px 5px 0;
        }
    }

    &__right-menu{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    &__flag{
        margin: 0 .5rem;

        img{
            width: 25px;
        }
    }

    &__account,
    &__orders,
    &__cart{
        margin: 0 1rem;
        width: 120px;
        font-size: .8rem;
    }

    &__orders{
        width: 80px;

        p{
            font-weight: 700;
        }
    }

    &__account{

        p{
            font-weight: 700;
        }
    }

    &__cart{
        position: relative;
        font-size: 1.5rem;
        width: 30px;

        svg{
            color:$white;
        }

        span{
            position: absolute;
            top:-5px;
            left: 15px;
            width: 22px;
            height: 20px;
            border-radius: 50%;
            background-color: $warning;
            font-size: .8rem;
            font-weight: 700;
        }
    }

    &__menu-bottom{
        background-color: rgba($primary,.9);

        span{
            display: inline-block;
            padding: 1rem;
            font-size: 1.5rem;
            float:left;
        } 
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            float: left;

            li{
                padding: 1rem
            }
        }
    }
}
